.text-top,
.text-bottom {
  margin: 15px 0;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  width: 80%;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .text-top,
  .text-bottom {
    font-size: 2.5rem;
    width: 60%;
  }
}
